@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}

body,
html {
  height: 100%;
  position: relative;
  background: white;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  padding: 10px 0px;
}

h3 {
  padding-bottom: 10px;
  font-size: 20px;
}

.btn-nav {
  padding: 10px;
  display: block;
  text-align: center;
}

.btn-nav:hover {
  background: black;
  color: white;
}

.btn-general {
  background-color: white;
  color: black;
  border: none;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  float: left;
}

.btn-general-disabled {
  background-color: grey;
  border: none;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  float: left;
  #opacity: 0.6;
}

.btn-general:hover {
  background-color: grey;
  color: black;
  font-weight: bold;
}

.textarea {
  width: 100%;
  overflow: auto;
  word-break: break-all;
  padding: 10px;
}

#body {
  font-size: medium;
}

#container {
  padding-left: 230px;
  position: absolute;
  padding-right: 20px;
  width: 80%;
}

#navigation {
  position: absolute;
  z-index: 10;
  height: 150%;
}

#nav {
  width: 200px;
  height: 210%;
  background: grey;
  padding: 30px 0px;
}

#main {
  line-height: 25px;
  padding: 30px;
  filter: invert(100%);
  font-weight: bold;
  font-size: larger;
}

#logo {
  width: 150px;
  filter: invert(100%);
  padding: 10px 50px 10px 10px;
}

#movie-header {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

#movie {
  clear:both;
  margin-bottom:100px;
}

#movie-container{
  padding: 20px 10px 0px 10px;
}


#like-btn:hover, #like-btn:active, #like-btn:focus {
  filter: invert(100%);
}

#dislike-btn:hover, #dislike-btn:active, #dislike-btn:focus {
  filter: invert(100%);
}