{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="movie-header">
        <img id="logo" src="{{ url_for('static', filename='movie.ico') }}" />
        <h1>Welcome to CS235Flix</h1>
    </header>
    <br>
    <p>
        CS235Flix is a community built movie database that is entirely free with no payments involved.
        Website is still work in progress so it has a lot of missing features, but at the very least, the features it current has are functional.
    </p>
    <br>
    <p>
        As you can tell the idea of this website was inspired by NetFlix, an American technology and media services provider.
        Netflix was founded in 1997.
        It is our pleasure to bring you entertainment and we hope you enjoy and CS235Flix and chill!
    </p>
    <br>
    <p style="text-align: right; font-style: italic;">
        - COMPSCI 235 Software Development Methodologies
    </p>
</main>

{% endblock %}